/* ===== Primary Styles ========================================================
   Author: Joram Clervius
   ========================================================================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} table {border-collapse:collapse;border-spacing:0;} fieldset,img { border:0; } address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; } ol,ul { list-style:none; } caption,th { text-align:left;} h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal;} q:before,q:after { content:'';} abbr,acronym { border:0;} body {list-style:none;} iframe {background:none;} a {text-decoration:none;}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;}
::selection {
	background-color:#8f061e;
	color:white;
}
body {
	font-family: 'Montserrat', sans-serif;
}
a {transition: all 0.3s ease;}
.seperator {
	height:1px;
	border-bottom:1px solid rgba(0,0,0,.15);
	margin:10px auto;
	clear:both;
	width:90%;
}
/* Login Form styles */
#loginBody {
	background-image: url('../img/loginBG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position:relative;
}
.advertLogin {
	position:absolute;
	float:left;
	color:white;
	font-weight:100;
	font-size:80px;
	
}
.advertLogin p {
	width:80%;
	margin:100px 0 0 50px;
	 text-shadow: 2px 2px 5px #818181;
}
.loginForm {
	float:right;
	width:500px;
	background-color: white;
	border-left:1px solid black;
	padding:200px 0 0 55px;
	height:100%;
}
.loginForm img {
	position:relative;
	top:-100px;
}
.loginForm h1 {
	font-size:30px;
	font-weight: 100;
	margin-bottom:50px;
}
.loginForm h1 small {
	font-size: 14px;
	display:block;
	font-weight: 100;
	margin-top:5px;

}
.loginFormItems {
	font-weight: 100;
}
.loginFormItems form {}
.loginFormItems form .formGroup {
	margin-bottom: 10px !important;
}
.loginFormItems form .formGroup label {
	font-weight: 100;
	display:block;
	text-align:left !important;
	display:none;
}
.loginFormItems form .formGroup input {
	padding:5px 15px;
	border:none;
	background-color: rgba(0,0,0,.08);
	width:190px;
	outline:none;
}
.loginFormItems form .formGroup input:focus {
	background-color: #001325;
	color:white;
}
.loginFormItems form input[type="submit"] {
	border:none;
	background-color: #001325;
	color:white;
	width:190px;
	padding:5px 15px;
}
.loginFormItems form input[type="submit"]:hover {
	cursor: pointer;
	background-color: #8f061e;
}
/* End login form styles  */

#applicationBody {
	display:none;
}


.smHead {
	display:block;
	height:37px;
	clear:both;
	background-image:
    linear-gradient(
      white 40%,  
      #ededed ,
      #ccc
    );
}
.smHead .smHeaderLogo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	color:transparent;
	width:100px;height:18px;
	float:left;
	margin:8px 0 0 20px;
}
.smHead .smHeader {
	float:right;
}
.smHead .smHeader .smUserchild {
	float:right;
}
.smHeaderMenu {}
.smHeaderMenu li {
	padding:0 15px;
}
.smHeaderMenu li a {
	text-align: center;
	color:rgba(0,0,0,.3);
	font-size:12px;
	position:relative;
	top:3px;
	text-decoration:none;
}
.smHeaderMenu li a:hover {
	color:rgba(0,0,0,.6);
}
.smHeaderMenu li a i {
	display:block;
}
.smHead .smHeader .smUser {
	border-left:1px solid rgba(0,0,0,.05);
	padding-left:15px;
	height:37px;
	position:relative;
}
.smHead .smHeader .smUser .smUserName {
	text-align: right;
	display:inline-block;
}
.smHead .smHeader .smUser .smUserName li {
	height:14px;
}
.smHead .smHeader .smUser .smUserName li a {
	color:black;
}
.smHead .smHeader .smUser .smUserName li a:hover {
	text-decoration:none;
}
.smHead .smHeader .smUser .smUserName li:first-child a {
	font-size:9pt;
	font-weight:400;
}
.smHead .smHeader .smUser .smUserName li:last-child a {
	font-size:8.5pt;
	font-weight:100;
}
.smHead .smHeader .smUser .smUserName li:last-child a:hover {
	font-weight:300;
}
.smHead .smHeader .smUser .smUserImg {
	display:inline-block;
	border-radius:50%;
	overflow:hidden;
	width:30px;
	height:30px;
	margin:0 15px 0 5px;
	position:relative;
	top:3px;
}
.smHead .smHeader .smUser .smUserImg img {
	width:100%;
}
.smHead .smHeader .smUser .smUserDD {	
	position:absolute;
	padding:10px;
	width:160px;
	top:37px;
	left:-10px;
	background-color: #fff;
}
.smHead .smHeader .smUser .smUserDD ul:first-child {
	border-bottom:1px solid #a3c1c9;
	padding-bottom:3px;
}
.smHead .smHeader .smUser .smUserDD li {
	margin-bottom:5px;
}
.smHead .smHeader .smUser .smUserDD li a {

	color:#b0b0b0;
}
.smHead .smHeader .smUser .smUserDD li a:hover {
	text-decoration:none;
	color:#000;
}
.smHead .smHeader .smUser .smUserDD li a i {
	margin-right:5px;
}
.smNavigation {
	background-color: #001325;
	width:150px;
	height:calc(100% - 37px);
	position:absolute;
	top:37px;left:0px;
	z-index:9999;
}
.smNavigation .smNavTaxType {
	border-bottom:1px solid #a3c1c9;
	padding-left:20px;
	font-size:12px;
	color:#a3c1c9;
}
.smNavigation .smNavTaxType .taxType {
	display:block;
	padding:10px 0;
}
.smNavigation .smNavTaxType .taxType:hover, .smNavigation .smNavTaxType .choosetaxType li a:hover {
	cursor: pointer;
	color:white;
	text-decoration:none;
}
.smNavigation .smNavTaxType .choosetaxType {
	width:220px;
	background-color: #001325;
	padding:10px 0;
	display:none;
}
.smNavigation .smNavTaxType .choosetaxType li {
	display:inline-block;
	margin-right:15px;
}
.smNavigation .smNavTaxType .choosetaxType li a {
	color:#a3c1c9;
}
.smNavigation .smNavType {}
.smNavigation .smBodyNav {
	display:block;
	margin:20px 0 0 20px;

}
.smNavigation .smBodyNav li {
	font-size:12px;
	font-weight:400;
	margin-bottom:10px;
}
.smNavigation .smBodyNav li a {
	color:white;
	text-decoration: none;
}
.smNavigation .smBodyNav li a:hover {
	opacity:.6;
}
.smNavigation .smBodyNav li a i {
	margin-right:10px;
}
#smBody {
	height:calc(100% - 37px);
	overflow-x:auto;
	overflow-y:hidden;
}
.smBody {
	height:100%;
	overflow:hidden;
	width:calc(100% + 850px);
}
.dashWindow {
	margin-left:200px;
}
.dashWindow .dashboardContainer {
	margin-top:50px;
}
.dashWindow .dashboardContainer header {
	border-bottom:1px solid rgba(0,0,0,.1);
	padding:15px 0 15px 15px;
}
.dashWindow .dashboardContainer header h3 {
	font-size:16px;
	font-weight:100;

}
.dashWindow .dashboardContainer header h3 small {
	display:block;
	margin-top:3px;
	font-weight:100;
}
.dashWindow .dashboardContainer .dashLongLeft {
	float:left;
	width:147px;
}
#dashRecentItems {}
#dashRecentItems ul {
	display:block;
}
#dashRecentItems ul li {
	border-bottom:1px solid rgba(0,0,0,.07);
	padding:5px 0 5px 15px;
}
#dashRecentItems ul li a {
	text-decoration: none;
	font-size:13px;
	color:black;
	font-weight:100;
}
#dashRecentItems ul li a:hover {
	opacity:.5;
}
.dashWindow .dashboardContainer .dashBody {
	float:left;
	margin-left:10px;
}
.dashBody {
	width:274px;
}
.dashBody #dashSearch {
	padding:15px;
	width:100%;
}
.dashBody form {}
.dashBody form input {}
.dashBody form input[type="search"] {
	width:100%;
	border:none;
	background-color:rgba(0,0,0,.06);
	outline: none !important;	
	font-family: FontAwesome, "proxima-nova", "Montserrat", sans-serif;
}
.dashBody form input[type="search"]:focus, #newTaxStart form input:focus {
	background-color: #001325 !important;
	color:white;
}
.dashBody form input[type="search"]:hover, #newTaxStart form input:hover {
	background-color:rgba(0,0,0,.09);
}
.dashBody form input[type="submit"] {
	display:none;
}
#dashInformation {
	margin:10px 0;
}
#dashInformation ul {
	display:block;
}
#dashInformation ul li {
	display:inline-block;
	text-align:center;
	width:49%;
}
#dashInformation ul li:first-child {
	border-right:1px solid rgba(0,0,0,.2);
}
#dashInformation ul li span {
	display:block;

}
#dashInformation ul li .dashInfoNumber {
	font-size:24px;
	font-weight:600;
}
#dashInformation ul li .dashInfoTitle {
	font-weight:400;
	font-size:12px;
	margin-top:-3px;
}
#dashInformation ul li:first-child .dashInfoTitle {
	color:#8f061e;
}
#dashInformation ul li:last-child .dashInfoTitle {
	color:#a3c1c9;
}
#dashNews {}
#dashNews ul {
	padding:10px 0 5px;
}
#dashNews ul li {
	font-size:9px;
	font-weight:100;
	padding-left:15px;
	margin-bottom:3px;
}
#dashNews ul li a {}
#dashNews ul li a:before {
	content: "*";
	margin-right:3px;

}
.dashButtons {
	margin-top:10px;
}
.dashButtons button {
	width:48%;
	border:none;
	text-align:center;
	color:white;
	padding:7px 0 8px;
	font-weight:300;
	font-size:12px;
}
.dashButtons button:hover {
	opacity:.8;
}
.dashButtons button:first-child {
	float:left;
	background-color: #8f061e;
}
#newTax {
	float:right;
	background-color: #001325;
}
.dashButtons button i {
	display:block;
}
.dashResultsCt {
	font-size:11px;
	margin-top:50px;
}
.dashResultsCt .dashResultsTl {}
.dashResultsCt .dashResultsTl li {}
.dashResultsCt .dashResultsTl li span {
	padding-left:;
}
.dashResultsCt li {
	border-bottom:1px solid rgba(0,0,0,.1);
}
.dashResultsCt li span:first-child {
	padding-left:0px !important;
}
.dashResultsCt li span:nth-child(2) {
	position:relative;
	left:-10px;
}
.dashResultsCt li span {
	padding:2px 5px !important;
}
.dashResultsCt li span.drSSN {}
.dashResultsCt li span.drStatus {}
.dashResultsCt li span.drtP {}
.dashResults li a {
	color:rgba(0,0,0,.5);
	white-space: nowrap
}
.dashResults li a span {
	overflow: hidden;
}
.dashResults li:hover {
	opacity:.8;
}
.dashResults li:nth-child(2n+2) {
	background-color:rgba(0,0,0,.03);
}
.dashResults li:last-child {
	border:none;
}


#newTaxStart {
	width:48%;
	float:right;
	display:none;
}
#newTaxStart form {}
#newTaxStart form input {
	width:100%;
	border:none;
	padding:3px 0 3px 10px;
	font-size:10px;
	outline:none;
	background-color: rgba(0,0,0,.1);
	color:rgba(0,0,0,.3);
	margin-bottom:4px;
	font-weight:400;
	letter-spacing: 1px
}
.dashItem {}
.panelWindow, .panelList, .dashWindow {
	float:left;
	display:block;
}/*
.panelWindow, .panelList {
	display:none;
}*/
.boxShadow {
	-moz-box-shadow: 2px 2px 5px 6px #ccc;
	box-shadow: 1px 1px 4px 1px #e9e9e9;
}
.panelWindow {
	width:750px;
	margin:0 0 0 50px;

}
.panelWindow.smpWindow {
	width:550px !important;
}
.panelWindow .panelTopBar {
	background-color: #001325;
	height:21px;
}
.ptaxType {
	color:white;
	font-size:11px;
	padding:3px 0 0 15px;
	float:left;
	position:relative;
}
.ptaxType:hover {
	cursor:pointer;
	
}
.ptaxType:hover .pcurType {
	opacity:.8;
}
.ptaxType .pcurType {}
.ptaxType .ptaxTypes {
	position:absolute;
	top:21px;
	z-index: 900;
	padding:10px 15px 0 10px;
	border:1px solid #8f061e;
	background-color:white;
	color:rgba(0,0,0,.3);
	display:none;
}
.ptaxType .ptaxTypes li {
	margin-bottom: 5px;
	border-bottom:1px solid rgba(0,0,0,.2);
	padding-bottom:3px;
	font-weight:500;
}
.ptaxType .ptaxTypes li:hover {
	color:black;
}
.ptaxType .ptaxTypes li:last-child {
	border-bottom:none;
}
.panelWindow .panelTopBar .panelHeaderContent {
	font-size:11px;
	float:left;
	padding:3px 0 0 15px;
	display:none;
}
.panelWindow .panelTopBar .panelHeaderContent span:first-child {
	color:white;
}
.panelWindow .panelTopBar .panelHeaderContent span:last-child {
	margin-left:10px;
}
.panelWindow .panelTopBar .panelHeaderContent span {
	
}
.panelWindow .panelTopBar .panelOperators {
	list-style: none;
	float:right;
	position:relative;
	
}
.panelWindow .panelTopBar .panelOperators li {
	text-align: center;
	width:35px;
	display:inline-block;
	padding:4px 0px;
	font-size:12px;
	color:rgba(255,255,255,.5);
}
.panelClose {
	background-color: #8f061e;
}
.panelClose i {
	color:white;
}
.panelWindow .panelTopBar .panelOperators li i {}
.panelWindow .panelTopBar .panelOperators li:hover {
	cursor:pointer;
	opacity:.7;
}
.panelHeader {
	background-color: #001325;
	padding:5px 0 10px 15px;
	height:140px;

}
.panelHeader nav {}
.panelHeader nav ul {
	display:block;
	position:relative;
	top:20px;
}
.panelHeader nav ul li {
	
	text-align:center;
	display:inline-block;
}

.panelHeader nav ul li a, .panelHeader nav ul li .pheaderMenuSpan {
	transition: all 0.3s ease;
	background-color: rgba(255,255,255,.05);
	padding:10px 10px 5px;
	display:block;
	border:2px solid rgba(255,255,255,.05);
}
.panelHeader nav ul li a:hover, .panelHeader nav ul li .pheaderMenuSpan:hover {
	color:white;
	text-decoration: none;
	background-color: rgba(255,255,255,.09);
	border-right:2px solid rgba(255,255,255,.1);
	border-bottom:2px solid rgba(255,255,255,.1);
	cursor:pointer;
}
.panelHeader nav ul li i {
	display:block;
	margin-bottom:3px;
}
.panelHeader .phRefundAmt {
	margin-left:20px;
	text-align:left;
	position:relative;
	top:1px;
	opacity:.9;
}
.panelHeader .phRefundAmt span {
	display:block;
	font-weight:300;
	color:rgba(255,255,255,1);
	font-size:14px;
	font-weight:100;
	letter-spacing: 1.5px;
}
.panelHeader .phRefundAmt span:last-child {
	padding-top:1px;
	border-top:1px dashed rgba(255,255,255,.3);
}
.panelHeader .phRefundAmt span strong {
	width:50px;
	display:inline-block;
	margin-right:5px;
	letter-spacing: .5px;
}
.pBodyNav {
	border-bottom:1px solid rgba(0,0,0,.08);
	padding:8px 0 8px 15px;
	position:relative;
}
.pBodyNav {
	display:block;
}
.pBodyNav  li {
	display:inline-block;
	margin-right:15px;
}
.pBodyNav li a {
	color:rgba(0,0,0,.4);
	padding:3px 5px;
	border-radius:5px;
}
.pBodyNav li a i {
	font-size: 11px;
	margin-right:5px;
}
.pBodyNav li a:hover {
	cursor:pointer;
}
.pBodyNav li.active a {
	background-color:#001325;
	color:white;
	
}
.pBodyNav li.active a:hover {
	color:white;
}
.pBodyNav li a:hover {
	color:rgba(0,0,0,.8);
	text-decoration:none;
}
.pBodyWrapper {}
.pBodyWrapper .smBodyTab, .printContent {
	margin-top:15px;
}
.modal.adventModal .modal-footer button.btn-default {
	border:none;
	color:black;
	padding:5px 10px;
	background-color: rgba(0,0,0,.3);
	border-radius:3px;
}
.panelButton, .modal.adventModal .modal-footer button.btn-primary {
	border:none;
	color:white;
	padding:5px 10px;
	background-color: #001325;
	border-radius:3px;
}
.panelButton:hover {
	background-color:#8f061e
}
.panelButton i {
	margin-right:5px;
}
.panelList {
	margin-left:20px;
	padding-top:170px;
}
.panelList h3 {
	font-size:20px;
	color:rgba(0,0,0,.7);
	margin-bottom:20px;
}
.panelList nav {}
.panelList nav ul {}
.panelList nav ul li {
	margin-bottom:3px;
}
.panelList nav ul li a {
	color:#a3c1c9;
}
.panelList nav ul li a:hover {
	text-decoration:none;
	font-weight:300;
	color:#163038;
}
.pBodyWrapper {
	padding:0 15px 0 15px;
	height:calc(100% - 47px );
	overflow:auto;
}
.smsBodyWrapper {
	padding:0 15px 0 15px;
	height:calc(100% - 190px);
	overflow:auto;
	padding-top:15px;
}
.pBodyWrapper {
	font-size:12px;
	font-weight:300;
}
.pBodyWrapper h4 {
	margin-bottom:10px;
	font-size:16px;
}
.pBodyWrapper h5 {
	display:block;
	margin-bottom:10px;
	padding:5px 0 7px 10px;
	font-size:14px;
	border-bottom:1px solid rgba(0,0,0,.1);
	transition: all 0.7s ease;
}

.pBodyWrapper .panelCard {
	transition: all 0.7s ease;
	background-color:rgba(0,0,0,.01);
	border-radius:3px;
	border:1px solid;
	border-top-color:rgba(0,0,0,.03);
	border-left-color:rgba(0,0,0,.03);
	border-right-color:rgba(0,0,0,.08);
	border-bottom-color:rgba(0,0,0,.08);
	padding:10px;
	font-weight:200;
	margin-bottom:10px;

}
.pBodyWrapper .panelCard:hover {
	border-top-color:rgba(0,0,0,.09);
	border-left-color:rgba(0,0,0,.09);
	border-right-color:rgba(0,0,0,.2);
	border-bottom-color:rgba(0,0,0,.2);
}
.pBodyWrapper .panelCard:hover h5 {
	background-color: rgba(0,0,0,.02);
	color:black;
}
.pBodyWrapper input, .pBodyWrapper select, .newTPModalBody input, .newTPModalBody select {
	border:none;
	outline:none;
	background-color:rgba(0,0,0,.08);
	padding:3px 5px;
	font-size:12px;
	color:black;
}
.pBodyWrapper input:hover {}
.pBodyWrapper input:focus, .newTPModalBody input:focus {
	background-color:#f6f5c1;
}
.pBodyWrapper ul.panelTabs {
	margin-bottom:10px;
}
.pBodyWrapper ul.panelTabs li {
	display:inline-block;
	margin-right:10px;
}
.pBodyWrapper ul.panelTabs li a {
	color:rgba(0,0,0,.5);
	font-weight:400;
	border-radius:3px;
	text-decoration: none;
	padding:3px 5px;
}
.pBodyWrapper ul.panelTabs li a:hover {
	cursor:pointer;
}
.pBodyWrapper ul.panelTabs li.active a {
	background-color:#001325;
	color:white;
}
.formGroup, .formGroup.stackedInputs {
	margin:3px 0 !important;
}
.formGroup label {
	padding-top:4px;
	text-align:right;
}
.panelCard .formGroup {
	margin:0;
}
.formGroup input[type="checkbox"]:hover, .formGroup input[type="radio"]:hover {
	cursor:pointer;
}
.panelCard .formGroup label {
	text-align:right !important;
	padding-top:3px;
}
.formGroup label input {
	width:100%;
}
.stackedInputs {}
.stackedInputs input, .stackedInputs select {
	border-right:1px solid rgba(0,0,0,.2);
}
.stackedInputs input:last-child {
	border:none;
}
.panelRow {
	margin-bottom:30px;
}
.ssnText {
	letter-spacing: 2px;
}
.dependentsPanel input, .dependentsPanel select {
	border-bottom:1px solid transparent;
}
.dependentsPanel .ssnText {
	letter-spacing: 1px;
}
.dependentsPanel .stackedInputs input:last-child, .dependentsPanel .stackedInputs select:last-child {
	border-right:1px solid rgba(0,0,0,.2) !important;
	border-bottom:1px solid transparent;
}
.dependentsPanel .col-md-1, .dependentsPanel .col-md-2, .dependentsPanel .col-md-3, .dependentsPanel .col-md-4, .dependentsPanel .col-md-5, .dependentsPanel .col-md-6, .dependentsPanel .col-md-7, .dependentsPanel .col-md-8, .dependentsPanel .col-md-9, .dependentsPanel .col-md-10, .dependentsPanel .col-md-11, .dependentsPanel .col-md-12 {
	padding:0 !important;
}
.forSpouse, .forSpouse_ {
	opacity: .3;
}
.pheaderSearchForm {
	display:block;
	margin-top:20px;
	padding:15px 0 0 0;
}
.pheaderSearchForm label {}
.pheaderSearchForm label input {
	outline:none;
	padding:5px 10px;
	font-weight: 100;
	border-radius:5px;
	border:1px solid rgba(255,255,255,.3);
	border-color: #a3c1c9;
	background-color: rgba(255,255,255,.1);
	color:white;
	font-family: FontAwesome, "proxima-nova", "Montserrat", sans-serif;
	width:280px;
}
.pheaderSearchForm label input[type='text']:focus {
	background-color: transparent;
}
.pheaderSearchForm label input[type='text'] {}
.pheaderSearchForm input[type='submit'] {
	display:none;
}
.formsSchedsList {}
.formsSchedsList li {
	border-bottom:1px solid rgba(0,0,0,.1);
	padding:10px 0;
}
.formsSchedsList li {}
.formsSchedsList li:last-child {
	border:none;
}
.formsSchedsList li:hover {
	background-color:rgba(0,0,0,.03);
}
.formsSchedsList li.formListHeader {
	font-weight:600;
	border-bottom:1px solid rgba(0,0,0,.2);
}
.formsSchedsList li span {

	}

.formsSchedsList li span:first-child {
	text-align:center;
}
.formsSchedsList li span:first-child i {
	position:relative;
	top:3px;
}
.formsSchedsList li span:nth-child(2) {
	font-weight:400;

}
.formsSchedsList li span:last-child {}
.formsSchedsList li span a:hover {
	text-decoration:none;
}
.formsSchedsList li span a.addFormName {
	color:#001325;
}
.formsSchedsList li span a.addFormLink {
	padding:3px 15px;
	color:white;
	background-color: #001325;
	border-radius:5px;
	border:1px solid #001325;
	font-weight:bold;
}
.formsSchedsList li span a.addFormLink:hover {
	color:#001325;
	border-color: #a3c1c9;
	background-color: #a3c1c9;
} 
.formsContainer .pBodyNav {}
.formsContainer .pBodyNav li {
	position:relative !important;
	left:-30px !important;
}
.no-results {
	padding-left:20px !important;
	color:rgba(0,0,0,.5);
}

.formHeaderExcerpts {
	padding-top:10px;
}
.formHeaderExcerpts li {
	text-align: left !important;
	margin-right:25px;
	padding:0 5px 0 20px;
	border-left:1px solid rgba(255,255,255,.15);
}
.formHeaderExcerpts li:first-child {
	border:none;
	padding-left:0;
}
.formHeaderExcerpts li strong {
	display:block;
}
.formHeaderExcerpts li span {
	
}
.frm_sch {}
.frm_sch .formBox {
	border-top:1px solid rgba(0,0,0,.1);
	padding-top:5px;
	padding-bottom:5px;
}
.frm_sch .formBox:first-child {
}
.formBox {
}
.formBox h6 {
	margin-bottom: 5px;
	font-size:10px !important;
	display:block;
}
.formBox h6 .formBoxNo {
	font-weight:400;
	border-right:1px solid rgba(0,0,0,.2);
	padding-right:5px;
}
.formBox h6 .formBoxTl {
	font-weight:400;
}
.formBox .formGroup {}
.formBox .formGroup input {
	
}
#printSpFrms {
	display:none;
}
.prntReview {}
.prntReview li {}
.prntReview li.prntRvwHead {
	font-weight:400;
	border-bottom:1px solid rgba(0,0,0,.2);
}
.prntReview li span {
	white-space: nowrap;
	overflow:hidden;
}
.prntReview li span:first-child {}
.prntReview li span:last-child {}
.prntRvw {
	padding:3px 0;
	border-bottom:1px solid rgba(0,0,0,.1);
}

.prntRvw a {
	color:rgba(0,0,0,.8);
}
.prntRvw a i {
	margin-right:5px;
	opacity:.4;
}
.prntRvw:nth-child(2n+2) {
	background-color: rgba(0,0,0,.03)
}
.prntRvw:hover {
	/*opacity: .8*/
	background-color:#8f061e;
}
.prntRvw:hover a {
	color:white;
}
#otherFormPrintouts {}
#otherFormPrintouts ul {}
#otherFormPrintouts ul li {
	margin-bottom:30px;
}
#otherFormPrintouts ul li i {
	font-size:16px;
	margin-right:5px;
}
#otherFormPrintouts ul li span {}
#otherFormPrintouts ul li button {
	margin-top:5px;
}
.modal.adventModal {}
.modal.adventModal .modal-content {
	border-radius:3px;
}
.modal.adventModal .modal-header {
	background-color:#001325;
}
.modal.adventModal .modal-header .close {
	color:white;
}
.modal.adventModal .modal-header h4 {
	color:white;
	font-weight:100;

}
.modal.adventModal .modal-header {}
.modal.adventModal .modal-body {}
.modal.adventModal .modal-footer {}
.modal.adventModal .modal-footer button {}
.modal.adventModal .modal-footer button.btn-default {}
.modal.adventModal .modal-footer button.btn-primary {}

.smsBodyWrapper {}
.smsBodyWrapper blockquote {
	margin:10px 0 15px;
	width:100%;
	padding:10px 10px;
}
.smsBodyWrapper blockquote p {
	font-size:14px;
}
.smsBodyWrapper blockquote.blockquote-reverse p {
	color:rgba(0,0,0,.5);
}
.smsBodyWrapper blockquote footer {
	font-size:9px;
	color:rgba(0,0,0,.3);
}
.smsBodyWrapper blockquote footer span {}
.smsBodyWrapper blockquote footer span.smsDate {}
.smsBodyWrapper blockquote footer span.smsTime {}
.smsBodyWrapper blockquote footer span.telephoneNumber {}
.smsBodyWrapper blockquote footer cite {}
#sendNewSMS {}
#sendNewSMS textarea {
	display:block;
	padding:10px;
	height:100px;
	outline:none;
}
.notesList {}
.notesList li {
	margin-bottom:15px;
}
.notesList li .notesMeta {
	padding-top:20px;
}
.notesList li .notesMeta small {
	font-size:11px;
}
.notesList li .notesMeta small span:first-child {
	margin-top:5px;
}
.notesList li .notesMeta small span {
	font-size:9px;
	display:block;
	color:#ccc;
}
.tab-pane p {
	margin-bottom:10px;
}
.panelListItem {
	margin-left:10px;
	margin-bottom:10px;
}
.hoverCursor:hover {
	cursor: pointer;
}
.tTip {
	text-decoration: underline;
	text-decoration-color: red;
}
.tTip:hover {
	cursor: pointer;
}
.acaAdvice {
	display:none;
}

.smClientDoxHeader {
	font-size:16px;
	color:rgba(0,0,0,.3);
	margin-bottom:10px;
}
.smClientDoxHeader li {

}
.smClientDox {
	margin-top:10px;
}
.smClientDox li {
	padding:10px 0;
	border-bottom:1px solid rgba(0,0,0,.05);
}
.smClientDox li span {}
.smClientDox li span.clientDoxName i {
	margin-right: 10px;
}
.smClientDox li span a {}
.smClientDox li span a:hover, .smClientDoxHeader a:hover {
	cursor: pointer;
	text-decoration:none;
	color:white;
} 
.smClientDox li span .panelButton {}
.smClientDox li span.clientDoxBtns {
	display:none;
	transition: all 0.7s ease;
}
.smClientDox li:hover {
	background-color: rgba(0,0,0,.02)
}

.smClientDox li:hover span.clientDoxBtns {
	display:inherit;
	transition: all 0.7s ease;
}
